:root {
    --mainBlue: #547794;
    --mainGrey: #C4C4C4;
}

* {
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.page-container {
    display: flex;
    flex-direction: column;
    width: 160vh;
    max-width: 160vh;
    margin-top: 90px;
}
